@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar {
  overflow-x: clip;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  .logo {
    cursor: pointer;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;

    .logo-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      .logo--cont1 {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo-svg {
            width: 100%;
            height: 50%;
          }
      }
      .logo--cont2{
          width: 50%;
          .title {
            padding-top: 20px;
            text-align: center;
            font-size: 1.3rem;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
      }
      
    }
    .search-field {
      width: 30%;
    }
  }
  .other-fields {
    width: 45%;
    margin-top: 6px;
    ul {
      li {
        cursor: pointer;
      }
      .field {
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: 1rem;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 10px;

        &:hover {
          border-bottom: 0.2px solid lightgrey;
          // border-radius: 25px;
          // background-color: #dc56b4;
          // color: white;
        }
      }
      display: flex;
      justify-content: space-evenly;
      .auth {
        width: 20%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
