.profile__right{
    width: 100%;
    padding: 10px;
    .profile__right__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 0;
        .profile__right__header__title{
            font-size: 1.2rem;
            font-weight: bold;
            font-family: "Poppins", sans-serif;
            color: rgba(9, 122, 214, 0.941);
        }
    }
    .about__me__text{
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        color: black;
    }
    .post__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 10px;
    }
}