.ask__question__modal{
    .ask__question__modal__header{
        .ask__question__modal__title{
            font-size: 1.5rem;
            font-weight: 600;
            color: #000;
            text-align: center;
            margin-bottom: 1rem;
            font-family: Poppins, 'sans-serif';
        }
    }
}