.footer__main{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem  1.5rem;
    .footer__left__container{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 1.2rem;
    }
    .divider {
        border-left: 1px solid white;
        height: 2rem;
        margin: 0 1rem;
    }
    .more__links {
        display: flex;
        justify-content: center;
        align-items: center;
        .more__links__inner__wrapper {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            .dot{
                height: 0.3rem;
                width: 0.3rem;
                background-color: white;
                border-radius: 50%;
                margin: 0 0.5rem;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 1.1rem;
            }
        }

    }

}